# OS metadata files
.DS_Store

# Node.js dependencies
node_modules/

# Appium screenshots
corellium_cafe_*.png

# output files
output/

# test apps
Cafe.apk
Cafe.ipa
Corellium_Cafe.apk
Corellium_Cafe.ipa
