name: MATRIX with Appium interactions

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:

jobs:
  changes:
    name: Check for file changes
    runs-on: ubuntu-latest
    outputs:
      javascript-deps: ${{ steps.filter.outputs.javascript-deps }}
      matrix: ${{ steps.filter.outputs.matrix }}
      python: ${{ steps.filter.outputs.python }}
      shell: ${{ steps.filter.outputs.shell }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: data/config/dorny-paths-filter.yaml
          list-files: 'shell'

  call-matrix-workflow:
    if: 
    uses: davidcbacker/automatecorellium/.github/workflows/matrix_with_appium.yaml@master

  call-frida-workflow:
    uses: davidcbacker/automatecorellium/.github/workflows/frida.yaml@master

  call-lint-workflow:
    uses: davidcbacker/automatecorellium/.github/workflows/lint.yaml@master
