name: Lint code changes

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:

jobs:
  changes:
    name: Check for file changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      ci: ${{ steps.filter.outputs.ci }}
      javascript: ${{ steps.filter.outputs.javascript }}
      markdown: ${{ steps.filter.outputs.markdown }}
      python: ${{ steps.filter.outputs.python }}
      shell: ${{ steps.filter.outputs.shell }}
      static-lint: ${{ steps.filter.outputs.static-lint }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: data/config/dorny-paths-filter.yaml
          list-files: 'shell'

  javascript-lint:
    name: JavaScript linting
    needs: changes
    if: >-
      ${{
        needs.changes.outputs.javascript == 'true' ||
        needs.changes.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run ESLint with SuperLinter
        uses: super-linter/super-linter@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JAVASCRIPT_ES: true

  python-lint:
    name: Python linting
    needs: changes
    if: >-
      ${{
        needs.changes.outputs.python == 'true' ||
        needs.changes.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install pylint
        run: python -m pip install pylint
      - name: Lint python scripts
        run: |
          echo 'DEBUG LISTING PY'
          git ls-files '*.py'
          echo 'DEBUG LOOPING RESULTS'
          for python_script in $(git ls-files '*.py'); do
            echo "Linting ${python_script}."
            pylint "${python_script}" \
              --disable duplicate-code \
              --disable import-error \
              --disable line-too-long \
              --disable too-many-locals \
              --disable too-many-statements \
              --disable unused-argument \
              --disable unused-import
            echo "Linted ${python_script}."
          done

  shell-lint:
    name: Shell linting
    needs: changes
    if: >-
      ${{
        needs.changes.outputs.shell == 'true' ||
        needs.changes.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Lint
        uses: luizm/action-sh-checker@v0.9.0
        env:
          SHELLCHECK_OPTS: >-
            --exclude SC2153,SC2154
            --enable add-default-case
            --enable avoid-nullary-conditions
            --enable check-unassigned-uppercase
            --enable deprecate-which
            --enable quote-safe-variables
            --enable require-variable-braces
          SHFMT_OPTS: >-
              --case-indent
              --func-next-line
              --indent 2
              --space-redirects
        with:
          sh_checker_checkbashisms_enable: true

  yaml-lint:
    name: YAML linting
    needs: changes
    if: ${{ needs.changes.outputs.ci == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Lint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -verbose
