name: Delete Corellium devices

on:
  schedule:
    - cron: '49 5 * * 1-5'
  workflow_dispatch:

env:
  TERM: xterm

jobs:
  corellium-delete:
    name: Delete
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24
      - name: Install Corellium CLI
        run: |
          npm ci --no-audit --no-fund
          echo "$(pwd)/node_modules/.bin" >> "${GITHUB_PATH}"
      - name: Log in to Corellium
        run: |
          corellium login \
            --apitoken ${{ secrets.CORELLIUM_API_TOKEN }} \
            --endpoint  ${{ secrets.CORELLIUM_API_ENDPOINT }}
      - name: Delete Corellium virtual devices
        env:
          AUTHORIZED_INSTANCES: ${{ vars.AUTHORIZED_INSTANCES }}
        run: |
          source ./src/functions.sh && set -euo pipefail
          delete_unauthorized_devices
