name: Run Frida script

on:
  pull_request:
    branches: master
  push:
    branches: master
  schedule:
    - cron: "18 */6 * * *"
  workflow_dispatch:

concurrency:
  group: 'frida'
  cancel-in-progress: false

env:
  TERM: xterm
  CORELLIUM_CAFE_PACKAGE_ANDROID: com.corellium.cafe
  VPN_CONFIG_PATH: /home/runner/my_vpn_config.ovpn

jobs:
  changes:
    name: Check for file changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      frida: ${{ steps.filter.outputs.frida }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: data/config/dorny-paths-filter.yaml
          list-files: 'shell'

  frida:
    name: Run Frida
    if: ${{ needs.changes.outputs.frida == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24
      - name: Install API dependencies
        run: |
          npm ci
          echo "$(pwd)/node_modules/.bin" >> "${GITHUB_PATH}"
      - name: Log in to Corellium
        run: |
          corellium login \
            --apitoken ${{ secrets.CORELLIUM_API_TOKEN }} \
            --endpoint  ${{ secrets.CORELLIUM_API_ENDPOINT }}
      - name: Start or create instance
        timeout-minutes: 1
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          log_stdout "Creating ephemeral instance."
          CREATED_CORELLIUM_INSTANCE_ID="$(create_instance \
            "${{ vars.ANDROID_HARDWARE_FLAVOR }}" \
            "${{ vars.ANDROID_FIRMWARE_VERSION }}" \
            "${{ vars.ANDROID_FIRMWARE_BUILD }}" \
            "${{ vars.MATRIX_DEFAULT_PROJECT }}")"
          log_stdout "Created instance ${CREATED_CORELLIUM_INSTANCE_ID}."
          echo "CORELLIUM_INSTANCE_ID=${CREATED_CORELLIUM_INSTANCE_ID}" >> "${GITHUB_ENV}"
          log_stdout 'Saved ephemeral instance ID as environmental variable.'
      - name: Install additional runner dependencies
        run: |
          set -eu && source ./src/functions.sh
          install_openvpn_dependencies
          if [ "${{ vars.ANDROID_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            install_adb_dependency
          else
            install_usbfluxd_and_dependencies
          fi
          install_frida_dependencies
      - name: Wait for instance agent ready
        timeout-minutes: 20
        run: |
          set -eu && source ./src/functions.sh
          start_instance "${{ env.CORELLIUM_INSTANCE_ID }}"
          wait_until_agent_ready "${{ env.CORELLIUM_INSTANCE_ID }}"
          [ "${{ vars.ANDROID_HARDWARE_FLAVOR }}" == 'ranchu' ] ||
            unlock_instance "${{ env.CORELLIUM_INSTANCE_ID }}"
      - name: Connect to project VPN
        timeout-minutes: 2
        run: |
          set -eu && source ./src/functions.sh
          connect_to_vpn_for_instance \
            "${{ env.CORELLIUM_INSTANCE_ID }}" \
            "${{ env.VPN_CONFIG_PATH }}"
      - name: Connect to device
        timeout-minutes: 1
        run: |
          set -eu && source ./src/functions.sh
          if [ "${{ vars.ANDROID_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            connect_with_adb "${{ env.CORELLIUM_INSTANCE_ID }}"
          else
            run_usbfluxd_and_dependencies
            add_instance_to_usbfluxd "${{ env.CORELLIUM_INSTANCE_ID }}"
            verify_usbflux_connection
          fi
      - name: Install Corellium Cafe from URL
        timeout-minutes: 2
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          install_corellium_cafe_android "${{ env.CORELLIUM_INSTANCE_ID }}"
      - name: Launch Cafe and run frida-ps
        timeout-minutes: 1
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          launch_app "${CORELLIUM_INSTANCE_ID}" "${CORELLIUM_CAFE_PACKAGE_ANDROID}"
          run_frida_ps_usb
      - name: Run frida hook
        timeout-minutes: 2
        env:
          FRIDA_SCRIPT_PATH: src/util/frida_script_android_cafe.js
        run: |
          set -eu && source ./src/functions.sh
          run_frida_script_usb "${CORELLIUM_CAFE_PACKAGE_ANDROID}" "${FRIDA_SCRIPT_PATH}"
      - name: Stop or delete instance
        if: always()
        timeout-minutes: 2
        run: |
          set -eu && source ./src/functions.sh
          log_stdout "Ready to delete ephemeral instance ${CORELLIUM_INSTANCE_ID}."
          stop_instance "${CORELLIUM_INSTANCE_ID}"
          delete_instance "${CORELLIUM_INSTANCE_ID}"
      - name: Clean up Corellium auth and processes
        if: always()
        timeout-minutes: 1
        env:
          CORELLIUM_CLI_PROFILE: '/home/runner/.config/.corellium/profile.json'
        run: |
          readonly FILES_TO_DELETE=(
            "${CORELLIUM_CLI_PROFILE}"
            "${VPN_CONFIG_PATH}"
          )
          readonly PROCS_TO_KILL=(
            adb
            avahi-daemon
            openvpn
            usbfluxd
          )
          for FILE_PATH in "${FILES_TO_DELETE[@]}"; do
            if [ -f "${FILE_PATH}" ]; then
              echo "[+] Deleting ${FILE_PATH}"
              rm -f "${FILE_PATH}"
            fi
          done
          command -v adb > /dev/null && adb disconnect
          for PROCESS in "${PROCS_TO_KILL[@]}"; do
            if pgrep "${PROCESS}" > /dev/null 2>&1; then
              echo "[+] Killing ${PROCESS}"
              sudo killall "${PROCESS}"
              echo "[+] Killed ${PROCESS}"
            fi
          done
