name: Lint code changes

on:
  workflow_call:
  workflow_dispatch:

jobs:
  changes-lint:
    name: Determine files to lint
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      ci: ${{ steps.filter.outputs.ci }}
      javascript: ${{ steps.filter.outputs.javascript }}
      markdown: ${{ steps.filter.outputs.markdown }}
      python: ${{ steps.filter.outputs.python }}
      shell: ${{ steps.filter.outputs.shell }}
      static-lint: ${{ steps.filter.outputs.static-lint }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: data/config/dorny-paths-filter.yaml
          list-files: 'shell'

  lint-javascript:
    name: Lint JavaScript
    needs: changes-lint
    if: >-
      ${{
        needs.changes-lint.outputs.javascript == 'true' ||
        needs.changes-lint.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run ESLint with SuperLinter
        uses: super-linter/super-linter@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JAVASCRIPT_ES: true

  lint-markdown:
    name: Lint Markdown
    needs: changes-lint
    if: >-
      ${{
        needs.changes-lint.outputs.markdown == 'true' ||
        needs.changes-lint.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Lint markdown docs
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: data/config/.markdownlint-cli2.jsonc
          globs: '**/*.md'
      - name: Spellcheck markdown docs
        uses: rojopolis/spellcheck-github-actions@0.56.0
        with:
          config_path: data/config/spellcheck.yaml

  lint-python:
    name: Lint Python
    needs: changes-lint
    if: >-
      ${{
        needs.changes-lint.outputs.python == 'true' ||
        needs.changes-lint.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install pylint
        run: python -m pip install pylint
      - name: Lint python scripts
        run: |
          for python_script in $(git ls-files '*.py'); do
            echo "Linting ${python_script}."
            pylint "${python_script}" \
              --disable duplicate-code \
              --disable import-error \
              --disable line-too-long \
              --disable too-many-locals \
              --disable too-many-statements \
              --disable unused-argument \
              --disable unused-import
            echo "Linted ${python_script}."
          done

  lint-shell:
    name: Lint Shell
    needs: changes-lint
    if: >-
      ${{
        needs.changes-lint.outputs.shell == 'true' ||
        needs.changes-lint.outputs.static-lint == 'true'
      }}
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v6
      - name: Lint
        uses: luizm/action-sh-checker@v0.10.0
        env:
          SHELLCHECK_OPTS: >-
            --exclude SC2153,SC2154
            --enable add-default-case
            --enable avoid-nullary-conditions
            --enable check-unassigned-uppercase
            --enable deprecate-which
            --enable quote-safe-variables
            --enable require-variable-braces
          SHFMT_OPTS: >-
              --case-indent
              --func-next-line
              --indent 2
              --space-redirects
        with:
          sh_checker_checkbashisms_enable: true

  lint-yaml:
    name: Lint YAML
    needs: changes-lint
    if: ${{ needs.changes-lint.outputs.ci == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v6
      - name: Lint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -verbose
