name: Scan with Corellium MATRIX

on:
  schedule:
    - cron: "17 */6 * * *"
  workflow_call:
  workflow_dispatch:

concurrency:
  group: corellium-matrix
  cancel-in-progress: false

env:
  TERM: xterm
  VPN_CONFIG_PATH: /home/runner/my_vpn_config.ovpn
  MATRIX_RUNNER_ARTIFACTS_PATH: /home/runner/matrix_artifacts.tar.gz
  CORELLIUM_DEFAULT_PROJECT: ${{ vars.CORELLIUM_DEFAULT_PROJECT }}
  CORELLIUM_INSTANCE_NAME_PREFIX: 'MATRIX Automation'
  CORELLIUM_CAFE_PACKAGE: ${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR == 'ranchu'
                            && 'com.corellium.cafe'
                            || 'com.corellium.Cafe' }}
  CORELLIUM_CAFE_SOURCE_URL: ${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR == 'ranchu'
                            && 'https://www.corellium.com/hubfs/Corellium_Cafe.apk'
                            || 'https://www.corellium.com/hubfs/Corellium_Cafe.ipa' }}
  CORELLIUM_CAFE_BLOG_PAGE_SCREENSHOT_FILENAME: corellium_cafe_blog_page.png
  CORELLIUM_CAFE_CUSTOMER_INFO_SCREENSHOT_FILENAME: corellium_cafe_customer_info.png
  CORELLIUM_CAFE_PAYMENT_INFO_SCREENSHOT_FILENAME: corellium_cafe_payment_info.png

jobs:
  corellium-matrixscan:
    name: Scan with MATRIX
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24
      - name: Check Node package lock
        run: |
          npm install --package-lock-only --quiet --no-audit --no-fund
          if ! git diff --quiet package-lock.json; then
            {
              echo -e "\nERROR:\n  Your package-lock.json is out of sync with dependencies."
              echo -e "\nTO FIX:\n  Run 'npm install --package-lock-only' and commit changes."
              echo -e "\nGIT DIFF RESULTS:\n"
              git diff package-lock.json
            } >&2
            exit 1
          fi
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          cache-dependency-path: requirements-pip-appium.txt
          python-version: 3.14
      - name: Install API dependencies
        run: |
          npm ci
          echo "$(pwd)/node_modules/.bin" >> "${GITHUB_PATH}"
      - name: Log in to Corellium
        run: |
          corellium login \
            --apitoken ${{ secrets.CORELLIUM_API_TOKEN }} \
            --endpoint  ${{ secrets.CORELLIUM_API_ENDPOINT }}
      - name: Wait until available cores
        timeout-minutes: 30
        run: |
          source ./src/functions.sh && set -euo pipefail
          if [ "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            wait_until_available_cores "${CORELLIUM_DEFAULT_PROJECT}" '4'
          else
            wait_until_available_cores "${CORELLIUM_DEFAULT_PROJECT}" '6'
          fi
      - name: Create instance
        timeout-minutes: 1
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          source ./src/functions.sh && set -euo pipefail
          log_stdout "Creating instance."
          CREATED_CORELLIUM_INSTANCE_ID="$(create_instance \
            "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" \
            "${{ vars.MATRIX_DEFAULT_FIRMWARE_VERSION }}" \
            "${{ vars.MATRIX_DEFAULT_FIRMWARE_BUILD }}" \
            "${CORELLIUM_DEFAULT_PROJECT}" \
            "${CORELLIUM_INSTANCE_NAME_PREFIX}")"
          log_stdout "Created instance ${CREATED_CORELLIUM_INSTANCE_ID}."
          echo "CORELLIUM_INSTANCE_ID=${CREATED_CORELLIUM_INSTANCE_ID}" >> "${GITHUB_ENV}"
          log_stdout 'Updated environmental variables for ephemeral instance.'
      - name: Install additional runner dependencies
        run: |
          source ./src/functions.sh && set -euo pipefail
          install_openvpn_dependencies
          if [ "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            install_adb_dependency
          else
            install_usbfluxd_and_dependencies
          fi
          install_appium_server_and_dependencies
      - name: Wait for instance agent ready
        timeout-minutes: 20
        run: |
          source ./src/functions.sh && set -euo pipefail
          start_instance "${CORELLIUM_INSTANCE_ID}"
          wait_until_agent_ready "${CORELLIUM_INSTANCE_ID}"
          # unlock_instance "${CORELLIUM_INSTANCE_ID}" # only for iOS
      - name: Connect to project VPN
        timeout-minutes: 2
        run: |
          source ./src/functions.sh && set -euo pipefail
          connect_to_vpn_for_instance \
            "${CORELLIUM_INSTANCE_ID}" \
            "${{ env.VPN_CONFIG_PATH }}"
      - name: Connect to device
        timeout-minutes: 2
        run: |
          source ./src/functions.sh && set -euo pipefail
          if [ "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            connect_with_adb "${CORELLIUM_INSTANCE_ID}"
          else
            run_usbfluxd_and_dependencies
            add_instance_to_usbfluxd "${CORELLIUM_INSTANCE_ID}"
            verify_usbflux_connection "${CORELLIUM_INSTANCE_ID}"
          fi
      - name: Install Corellium Cafe from URL
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          source ./src/functions.sh && set -euo pipefail
          kill_app "${CORELLIUM_INSTANCE_ID}" "${CORELLIUM_CAFE_PACKAGE}"
          install_app_from_url "${CORELLIUM_INSTANCE_ID}" "${CORELLIUM_CAFE_SOURCE_URL}"
      - name: Start Appium server and run session test
        run: |
          source ./src/functions.sh && set -euo pipefail
          run_appium_server
          log_stdout 'Opening Appium session.'
          OPEN_APPIUM_SESSION_ID="$(open_appium_session "${CORELLIUM_INSTANCE_ID}" "${CORELLIUM_CAFE_PACKAGE}")"
          log_stdout "Opened Appium session ${OPEN_APPIUM_SESSION_ID}."
          sleep 5
          log_stdout "Closing Appium session ${OPEN_APPIUM_SESSION_ID}."
          close_appium_session "${OPEN_APPIUM_SESSION_ID}"
          log_stdout "Closed Appium session ${OPEN_APPIUM_SESSION_ID}."
      - name: Run MATRIX assessment
        id: matrix-run-1
        timeout-minutes: 30
        continue-on-error: true
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MATRIX_WORDLIST_PATH: './data/wordlist.txt'
        run: |
          source ./src/functions.sh && set -euo pipefail
          MATRIX_WORDLIST_ID="$(upload_image_from_local_path "${CORELLIUM_INSTANCE_ID}" "${MATRIX_WORDLIST_PATH}")"
          log_stdout "Created new wordlist image with ID ${MATRIX_WORDLIST_ID}."
          run_full_matrix_assessment\
            "${CORELLIUM_INSTANCE_ID}" \
            "${CORELLIUM_CAFE_PACKAGE}" \
            "${MATRIX_WORDLIST_ID}"
      - name: Retry MATRIX assessment if failed
        id: matrix-run-2
        if: steps.matrix-run-1.outcome == 'failure'
        timeout-minutes: 30
        continue-on-error: true
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MATRIX_WORDLIST_PATH: './data/wordlist.txt'
        run: |
          source ./src/functions.sh && set -euo pipefail
          MATRIX_WORDLIST_ID="$(upload_image_from_local_path "${CORELLIUM_INSTANCE_ID}" "${MATRIX_WORDLIST_PATH}")"
          log_stdout "Created new wordlist image with ID ${MATRIX_WORDLIST_ID}."
          run_full_matrix_assessment\
            "${CORELLIUM_INSTANCE_ID}" \
            "${CORELLIUM_CAFE_PACKAGE}" \
            "${MATRIX_WORDLIST_ID}"
      - name: Retry MATRIX assessment if failed again
        id: matrix-run-3
        if: steps.matrix-run-2.outcome == 'failure'
        timeout-minutes: 30
        continue-on-error: false
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MATRIX_WORDLIST_PATH: './data/wordlist.txt'
        run: |
          source ./src/functions.sh && set -euo pipefail
          MATRIX_WORDLIST_ID="$(upload_image_from_local_path "${CORELLIUM_INSTANCE_ID}" "${MATRIX_WORDLIST_PATH}")"
          log_stdout "Created new wordlist image with ID ${MATRIX_WORDLIST_ID}."
          run_full_matrix_assessment\
            "${CORELLIUM_INSTANCE_ID}" \
            "${CORELLIUM_CAFE_PACKAGE}" \
            "${MATRIX_WORDLIST_ID}"
      - name: Download MATRIX runtime artifacts from VM
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MATRIX_INSTANCE_ARTIFACTS_PATH: /tmp/matrix_artifacts.tar.gz
        run: |
          source ./src/functions.sh && set -euo pipefail
          log_stdout 'Compressing MATRIX runtime artifacts.'
          node ./src/util/compress_matrix_artifacts.js
          log_stdout 'Compressed MATRIX runtime artifacts.'
          log_stdout 'Downloading MATRIX runtime artifacts from VM to CI runner.'
          download_file_to_local_path \
            "${CORELLIUM_INSTANCE_ID}" \
            "${MATRIX_INSTANCE_ARTIFACTS_PATH}" \
            "${MATRIX_RUNNER_ARTIFACTS_PATH}"
          log_stdout 'Downloaded MATRIX runtime artifacts from VM to CI runner.'
          ls -la "${MATRIX_RUNNER_ARTIFACTS_PATH}"
          sha256sum "${MATRIX_RUNNER_ARTIFACTS_PATH}"
      - name: Upload artifact 'MATRIX runtime artifacts'
        uses: actions/upload-artifact@v5
        with:
          name: matrix-runtime-artifacts
          path: ${{ env.MATRIX_RUNNER_ARTIFACTS_PATH }}
          compression-level: 9
          if-no-files-found: error
      - name: Upload artifact 'MATRIX reports'
        uses: actions/upload-artifact@v5
        with:
          name: matrix-reports
          path: |
            matrix_report_*.html
            matrix_report_*.json
          compression-level: 9
          if-no-files-found: error
      - name: Upload artifact 'Appium screenshots'
        uses: actions/upload-artifact@v5
        with:
          name: appium-screenshots
          path: |
            ${{ env.CORELLIUM_CAFE_BLOG_PAGE_SCREENSHOT_FILENAME }}
            ${{ env.CORELLIUM_CAFE_CUSTOMER_INFO_SCREENSHOT_FILENAME }}
            ${{ env.CORELLIUM_CAFE_PAYMENT_INFO_SCREENSHOT_FILENAME }}
          compression-level: 9
          if-no-files-found: error
      - name: Ensure failed status of MATRIX storage check
        run: |
          set -euo pipefail
          cat matrix_report_*.json | jq -e \
            '.results[] | select(.id == "masvs-storage-1-android-12") | .outcome == "fail"'
      - name: Stop or delete instance
        if: always()
        timeout-minutes: 15
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          source ./src/functions.sh && set -euo pipefail
          if [ -z "${CORELLIUM_INSTANCE_ID:-}" ]; then
            log_warn 'CORELLIUM_INSTANCE_ID is not set.'
          else
            log_stdout "Ready to delete ephemeral instance ${CORELLIUM_INSTANCE_ID}."
            stop_instance "${CORELLIUM_INSTANCE_ID}" || true
            delete_instance "${CORELLIUM_INSTANCE_ID}"
          fi
      - name: Clean up Corellium auth and processes
        if: always()
        timeout-minutes: 1
        env:
          CORELLIUM_CLI_PROFILE: '/home/runner/.config/.corellium/profile.json'
        run: |
          readonly FILES_TO_DELETE=(
            "${CORELLIUM_CLI_PROFILE}"
            "${VPN_CONFIG_PATH}"
          )
          readonly PROCS_TO_KILL=(
            MainThread
            adb
            appium
            avahi-daemon
            openvpn
            usbfluxd
          )
          for FILE_PATH in "${FILES_TO_DELETE[@]}"; do
            if [ -f "${FILE_PATH}" ]; then
              echo "[+] Deleting ${FILE_PATH}"
              rm -f "${FILE_PATH}"
            fi
          done
          command -v adb > /dev/null && adb disconnect
          for PROCESS in "${PROCS_TO_KILL[@]}"; do
            if pgrep "${PROCESS}" > /dev/null 2>&1; then
              echo "[+] Killing ${PROCESS}"
              sudo killall "${PROCESS}"
              echo "[+] Killed ${PROCESS}"
            fi
          done
