name: Scan with Corellium MATRIX

on:
  push:
    branches: master
  pull_request:
    branches: master
  schedule:
    - cron: "17 */6 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.event_name == 'schedule' && 'scheduled' || 'non-scheduled' }}
  cancel-in-progress: false

env:
  TERM: xterm
  VPN_CONFIG_PATH: /home/runner/my_vpn_config.ovpn
  MATRIX_RUNNER_ARTIFACTS_PATH: /home/runner/matrix_artifacts.tar.gz
  MATRIX_INSTANCE_ID: ${{ github.event_name == 'schedule'
                        && vars.MATRIX_AUTOMATION_INSTANCE
                        || vars.MATRIX_DEVELOPMENT_INSTANCE }}
  CORELLIUM_CAFE_PACKAGE: ${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR == 'ranchu'
                            && 'com.corellium.cafe'
                            || 'com.corellium.Cafe' }}
  CORELLIUM_CAFE_SOURCE_URL: ${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR == 'ranchu'
                            && 'https://www.corellium.com/hubfs/Corellium_Cafe.apk'
                            || 'https://www.corellium.com/hubfs/Corellium_Cafe.ipa' }}

jobs:
  changes:
    name: Check for file changes
    runs-on: ubuntu-latest
    outputs:
      javascript: ${{ steps.filter.outputs.javascript }}
      matrix: ${{ steps.filter.outputs.matrix }}
      python: ${{ steps.filter.outputs.python }}
      shell: ${{ steps.filter.outputs.shell }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: data/config/dorny-paths-filter.yaml
          list-files: 'shell'
  corellium-matrixscan:
    name: Scan with MATRIX
    needs: changes
    if: >-
      ${{
        needs.changes.outputs.javascript == 'true' ||
        needs.changes.outputs.matrix == 'true' ||
        needs.changes.outputs.python == 'true' ||
        needs.changes.outputs.shell == 'true'
      }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          cache-dependency-path: requirements-pip-appium.txt
          python-version: 3.14
      - name: Install API dependencies
        run: |
          npm ci
          echo "$(pwd)/node_modules/.bin" >> "${GITHUB_PATH}"
      - name: Log in to Corellium
        run: |
          corellium login \
            --apitoken ${{ secrets.CORELLIUM_API_TOKEN }} \
            --endpoint  ${{ secrets.CORELLIUM_API_ENDPOINT }}
      - name: Start or create instance
        timeout-minutes: 1
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          if does_instance_exist "${MATRIX_INSTANCE_ID}"; then
            start_instance "${MATRIX_INSTANCE_ID}"
          else
            log_stdout "Creating instance."
            CREATED_MATRIX_INSTANCE_ID="$(create_instance \
              "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" \
              "${{ vars.MATRIX_DEFAULT_FIRMWARE_VERSION }}" \
              "${{ vars.MATRIX_DEFAULT_FIRMWARE_BUILD }}" \
              "${{ vars.MATRIX_DEFAULT_PROJECT }}")"
            log_stdout "Created instance ${CREATED_MATRIX_INSTANCE_ID}."
            echo "MATRIX_INSTANCE_ID=${CREATED_MATRIX_INSTANCE_ID}" >> "${GITHUB_ENV}"
            echo 'EPHEMERAL_MATRIX_INSTANCE=true' >> "${GITHUB_ENV}"
            log_stdout 'Updated environmental variables for ephemeral instance.'
          fi
      - name: Install additional runner dependencies
        run: |
          set -eu && source ./src/functions.sh
          install_openvpn_dependencies
          if [ "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            install_adb_dependency
          else
            install_usbfluxd_and_dependencies
          fi
          install_appium_server_and_dependencies
      - name: Start Appium server
        timeout-minutes: 1
        run: |
          set -eu && source ./src/functions.sh
          run_appium_server
      - name: Upload MATRIX wordlist
        env:
          MATRIX_WORDLIST_PATH: './data/wordlist.txt'
        run: |
          set -eu && source ./src/functions.sh
          CREATED_MATRIX_WORDLIST_ID="$(upload_image_from_local_path "${MATRIX_INSTANCE_ID}" "${MATRIX_WORDLIST_PATH}")"
          log_stdout "Created new wordlist image with ID ${CREATED_MATRIX_WORDLIST_ID}."
          echo "MATRIX_WORDLIST_ID=${CREATED_MATRIX_WORDLIST_ID}" >> "${GITHUB_ENV}"
      - name: Wait for instance agent ready
        timeout-minutes: 20
        run: |
          set -eu && source ./src/functions.sh
          start_instance "${MATRIX_INSTANCE_ID}"
          wait_until_agent_ready "${MATRIX_INSTANCE_ID}"
          # unlock_instance "${MATRIX_INSTANCE_ID}" # only for iOS
      - name: Connect to project VPN
        timeout-minutes: 2
        run: |
          set -eu && source ./src/functions.sh
          connect_to_vpn_for_instance \
            "${MATRIX_INSTANCE_ID}" \
            "${{ env.VPN_CONFIG_PATH }}"
      - name: Connect to device
        timeout-minutes: 1
        run: |
          set -eu && source ./src/functions.sh
          if [ "${{ vars.MATRIX_DEFAULT_HARDWARE_FLAVOR }}" = 'ranchu' ]; then
            connect_with_adb "${MATRIX_INSTANCE_ID}"
          else
            run_usbfluxd_and_dependencies
            add_instance_to_usbfluxd "${MATRIX_INSTANCE_ID}"
            verify_usbflux_connection
          fi
      - name: Install Corellium Cafe from URL
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          kill_app "${MATRIX_INSTANCE_ID}" "${CORELLIUM_CAFE_PACKAGE}"
          install_app_from_url "${MATRIX_INSTANCE_ID}" "${CORELLIUM_CAFE_SOURCE_URL}"
      - name: Run Appium session test
        run: |
          set -eu && source ./src/functions.sh
          log_stdout 'Opening Appium session.'
          OPEN_APPIUM_SESSION_ID="$(open_appium_session "${MATRIX_INSTANCE_ID}" "${CORELLIUM_CAFE_PACKAGE}")"
          log_stdout "Opened Apipum session ${OPEN_APPIUM_SESSION_ID}."
          sleep 5
          log_stdout "Closing Appium session ${OPEN_APPIUM_SESSION_ID}."
          close_appium_session "${OPEN_APPIUM_SESSION_ID}"
          log_stdout "Closed Appium session ${OPEN_APPIUM_SESSION_ID}."
      - name: Run Corellium Cafe MATRIX assessment
        timeout-minutes: 40
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MAX_MATRIX_RUN_RETRIES: 2
        run: |
          set -eu && source ./src/functions.sh
          for ((failures=0; failures<=MAX_MATRIX_RUN_RETRIES; failures++)); do
            if run_full_matrix_assessment "${MATRIX_INSTANCE_ID}" \
              "${CORELLIUM_CAFE_PACKAGE}" "${MATRIX_WORDLIST_ID}"; then
              break
            elif [ "${failures}" -lt "${MAX_MATRIX_RUN_RETRIES}" ]; then
              log_warning "MATRIX failed on run $((failures + 1))"
            else
              log_error "MATRIX failed the max $((failures + 1)) times"
              exit 1
            fi
          done
      - name: Download MATRIX runtime artifacts from VM
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          MATRIX_INSTANCE_ARTIFACTS_PATH: /tmp/matrix_artifacts.tar.gz
        run: |
          set -eu && source ./src/functions.sh
          log_stdout 'Compressing MATRIX runtime artifacts.'
          node ./src/util/compress_matrix_artifacts.js
          log_stdout 'Compressed MATRIX runtime artifacts.'
          log_stdout 'Downloading MATRIX runtime artifacts from VM to CI runner.'
          download_file_to_local_path \
            "${MATRIX_INSTANCE_ID}" \
            "${MATRIX_INSTANCE_ARTIFACTS_PATH}" \
            "${MATRIX_RUNNER_ARTIFACTS_PATH}"
          log_stdout 'Downloaded MATRIX runtime artifacts from VM to CI runner.'
          ls -la "${MATRIX_RUNNER_ARTIFACTS_PATH}"
          sha256sum "${MATRIX_RUNNER_ARTIFACTS_PATH}"
      - name: Upload MATRIX runtime artifacts
        uses: actions/upload-artifact@v5
        with:
          name: matrix-runtime-artifacts
          path: ${{ env.MATRIX_RUNNER_ARTIFACTS_PATH }}
          compression-level: 9
          if-no-files-found: error
      - name: Upload MATRIX report artifacts
        uses: actions/upload-artifact@v5
        with:
          name: matrix-reports
          path: |
            matrix_report_*.html
            matrix_report_*.json
          compression-level: 9
          if-no-files-found: error
      - name: Stop or delete instance
        if: always()
        timeout-minutes: 2
        env:
          CORELLIUM_API_ENDPOINT: ${{ secrets.CORELLIUM_API_ENDPOINT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
        run: |
          set -eu && source ./src/functions.sh
          if [ "${EPHEMERAL_MATRIX_INSTANCE:-}" = 'true' ]; then
            log_stdout "Ready to delete ephemeral instance ${MATRIX_INSTANCE_ID}."
            stop_instance "${MATRIX_INSTANCE_ID}"
            delete_instance "${MATRIX_INSTANCE_ID}"
          else
            soft_stop_instance "${MATRIX_INSTANCE_ID}"
          fi
      - name: Clean up Corellium auth and processes
        if: always()
        timeout-minutes: 1
        env:
          CORELLIUM_CLI_PROFILE: '/home/runner/.config/.corellium/profile.json'
        run: |
          readonly FILES_TO_DELETE=(
            "${CORELLIUM_CLI_PROFILE}"
            "${VPN_CONFIG_PATH}"
          )
          readonly PROCS_TO_KILL=(
            MainThread
            adb
            appium
            avahi-daemon
            openvpn
            usbfluxd
          )
          for FILE_PATH in "${FILES_TO_DELETE[@]}"; do
            if [ -f "${FILE_PATH}" ]; then
              echo "[+] Deleting ${FILE_PATH}"
              rm -f "${FILE_PATH}"
            fi
          done
          command -v adb > /dev/null && adb disconnect
          for PROCESS in "${PROCS_TO_KILL[@]}"; do
            if pgrep "${PROCESS}" > /dev/null 2>&1; then
              echo "[+] Killing ${PROCESS}"
              sudo killall "${PROCESS}"
              echo "[+] Killed ${PROCESS}"
            fi
          done
