name: Stop Corellium devices

on:
  schedule:
    - cron: '2 23 * * 1-5'
  workflow_dispatch:

jobs:
  corellium-stop:
    name: Start devices
    runs-on: ubuntu-latest
    steps:
      - name: Pull the latest code
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24
      - name: Install Corellium CLI
        run: npm install -g @corellium/corellium-cli
      - name: Log in to Corellium
        run: |
          corellium login \
            --apitoken ${{ secrets.CORELLIUM_API_TOKEN }} \
            --endpoint  ${{ secrets.CORELLIUM_API_ENDPOINT }}
      - name: Stop Corellium virtual devices
        env:
          STOP_INSTANCES: ${{ vars.STOP_INSTANCES }}
        run: |
          set -eu && source ./src/functions.sh
          stop_demo_instances

